Cargo.lock
poetry.lock

target/*
dist/*
.venv
.pytest_cache
.vscode

__pycache__

ruststartracker/libruststartracker.*.so
ruststartracker/libruststartracker.so
ruststartracker/gaia*.csv
ruststartracker/hipparcos*.csv

.coverage
coverage.xml
